<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8CA9071A17A84F72001591B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CA90FA717A85207001591B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CC8D3BA17A948E000BC796A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
